
<section class="section hero">
  <div class="header-hero">
    <div class="logo">
      {{#link 'help_center'}}
        <img src="{{settings.logo}}" alt="{{t 'logo'}}">
      {{/link}}
    </div>
    <div class="nav-wrapper">
      <span class="icon-menu"></span>
      <nav class="user-nav" id="user-nav">
        <a href="//www.bline.ie">Bline.ie homepage</a>
        <a href="//www.bline.ie/portal">Broker Login</a>
      </nav>
    </div>
  </div>
  
  
  <div class="hero-inner">
    {{search submit=false instant=true class='search search-full'}}
  </div>
</section>

<div class="container">
  <section class="section knowledge-base">
    <section class="categories blocks">
      <ul class="blocks-list">
        {{#each categories}}
          {{#if ../has_multiple_categories}}
            <li class="blocks-item">
              <a href='{{url}}' class="blocks-item-link">
                <h4 class="blocks-item-title">
                  {{name}}</h4>
                <p class="blocks-item-description">{{excerpt description}}</p>
              </a>
            </li>
          {{else}}
            {{#each sections}}
              <li class="blocks-item {{#if internal}}blocks-item-internal{{/if}}">
                <a href='{{url}}' class="blocks-item-link">
                  <h4 class="blocks-item-title">
                    {{name}}</h4>
                  <p class="blocks-item-description">{{excerpt description}}</p>
                </a>
              </li>
            {{/each}}
          {{/if}}
        {{/each}}
      </ul>
      {{pagination}}
    </section>

    {{#if promoted_articles}}
      <section class="articles">
        <h3>{{t 'promoted_articles'}}</h3>
        <ul class="article-list promoted-articles">
          {{#each promoted_articles}}
            <li class="promoted-articles-item">
              <a href="{{url}}">
                {{title}}
              </a>
            </li>
          {{/each}}
        </ul>
      </section>
    {{/if}}
  </section>

  <section class="section activity">
    {{recent_activity}}
  </section>
</div>
